:root{
    --main-color : #D0FCFF;
    --second-color : #1F4590;
    --third-color : #FFA451;
    --main-font : 'Raleway', sans-serif;
    --second-font : 'Poppins', sans-serif;
}

body{
    font-family: var(--main-font);
    background: var(--main-color) !important;
}

@media (max-width: 576px) {
  .w-sm-100 {
    width: 100% !important;
  }
}

section{
    margin: 4rem 0;
}

.splide__track {
    overflow: auto;
    width: 100%;
}
.splide__list {
    display: flex;
    transition: transform 0.3s ease;
    will-change: transform;
}
.splide__slide {
    flex: 0 0 auto;
}

/* start navbar */

.navbar .navbar-brand{
    color: var(--second-color);
    font-weight: 600;
}

.navbar-brand span {
  color: var(--third-color);
  font-size: 1.25rem;
}

.navbar-toggle {
    color: black;
}

.navbar-nav .nav-item .nav-link {
    color: var(--second-color);
    font-weight: 500;
}

.navbar-nav .nav-item .nav-link.active {
    color: var(--third-color);
    font-weight: 800;
}

.btn.btn-warning.btn-nav {
    border-radius: 60px;
    color: white;
    font-weight: 700;
}

/* end navbar */

/* start hero */

.title-hero h2 {
    line-height: 100%;
    color: var(--second-color);
}

.title-hero h2 span {
    color: var(--third-color);
}   

.schedule-hero {
    position: relative;
}

.get-hero {
    background: var(--second-color);
    border-radius: 50px;
    width: 205px;
    height: 45px;
    z-index: 1000;
    position: absolute;
    top: -25px;
    right: 400px;
}

.get-hero h6 {
    color: white;
}

.form-schedule {
    width: 100%;
    max-width: 655px;
    height: 120px;
    max-height: 100%;
    background: linear-gradient(135deg,
    #fbc2eb,  /* pink */
    #a6c1ee,  /* biru muda */
    #fcd5ce,  /* peach */
    #c9fdd7,  /* hijau muda */
    #fff3b0   /* kuning muda */
  );
    border-radius: 50px;
    border: white 5px solid;
    margin-top: -10px;
}

.form-group i {
    color: var(--second-color);
}

.btn-search {
  background: var(--third-color);
  width: 67px;
  height: 67px;
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  border: none; 
  color: white;
}


.btn-search i {
    color: white;
}

.hero-map {
    width: 25%;
    margin-top: 5%;
}

.hero-traveler {
    width: 40%;
    margin-top: 10%;
}

/* end hero */

/* service */

.title-service h5 {
    color: var(--third-color);
}

.service-items .card {
    background: var(--second-color);
    color: white;
    border-radius: 0;
    border: none;
    transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
    position: relative; 
    z-index: 0;
    min-height: 15rem;
}

.service-items .card.card-start-radius {   
    border-radius: 50px 0 0 0;
}

.service-items .card.card-end-radius {   
    border-radius: 0 50px 0 0;
}

.service-items .card:hover {
    background: var(--third-color);
    color: white;
    transform: translateY(-60px);
    border-radius: 50px 50px 0 0;
    z-index: 10;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.service-items .card .learn-more {
  display: none;
}

.service-items .card:hover .learn-more {
  display: inline-block;
}

.card-body a {
    text-decoration: none;
    color: black;
}
/* end service */

/* start explore */

.title-explore h5 {
    color: var(--third-color);
}

.btn-arrow {
    background: var(--second-color);
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%; 
}

.explore-destination .card {
    position: relative;
    border: none;
    background: none;
    z-index: 1;
    overflow: visible;
}

.explore-destination .card-body {
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(10px);
    width: 90%;
    z-index: 100;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}

.card-body .descrtiption {
    display: none;
}

.card-body:hover .descrtiption{
    height: 20rem;
    bottom: 35px;
    display: inline;
}

.btn-category {
    width: 71px;
    height: 30px;
    background: var(--third-color);
    border-radius: 5px;
    padding: 0;
    font-weight: 600;
}

.custom-icon {
  width: 30px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
}

.bar {
  height: 6px;
  background: #555;
  border-radius: 10px;
}

.bar-1 {
  width: 80%;
}

.bar-2 {
  width: 60%;
}

.bar-3 {
  width: 40%;
}

.explore-destination .card-body .pricing {
    background: var(--second-color);
    width: 55px;
    height: 55px;
    top: 1px;
    font-family: 'Open Sans';
}

.btn-detail {
    background: var(--third-color);
    color: white;
    width: 60%;
    border-radius: 60px;
}


/* end explore */